// reset, scss variables and more

// fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
//

// reset css
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: $white;
}

a {
  text-decoration: none;
  color: $white;
}

li {
  list-style: none;
}

// number of step
.pick-destination {
  font-size: 1.25rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  span {
    color: #666;
    margin-right: 1rem;
    font-weight: 700;
  }
}

@media screen and(min-width:1025px) {
  .pick-destination {
    font-size: 1.8rem;
    margin-left: 9%;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .pick-destination {
    margin-left: 5%;
  }
}
@media screen and (max-width: 425px) {
  .pick-destination {
    text-align: center;
    font-size: 4.5vw;
  }
}
// end number of step
