@import "./primary-navigation";
@import "./_reset";

// background image depending on width
@media screen and (min-width: 769px) {
  body {
    background-image: url("../destination/background-destination-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 561px) and (max-width: 768px) {
  body {
    background-image: url("../destination/background-destination-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 560px) {
  body {
    background-image: url("../destination/background-destination-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
// end of background image depending on width

#main {
  display: flex;
  align-items: center;

  .select-planet {
    width: 25em;
    .planet-links {
      .planet-link-content {
        margin-right: 1rem;
        text-transform: uppercase;
        color: #ccc;
        font-size: 0.85rem;
        letter-spacing: 2px;
      }
      .planet-link-content:hover {
        cursor: pointer;
      }
    }
    .planet-title-name {
      font-size: 4rem;
      letter-spacing: 5px;
      font-family: "Lora", serif;
      text-transform: uppercase;
    }
    .planet-description {
      margin: 2rem auto 3rem;
      line-height: 1.8;
      color: #adadad;
    }
    .end-line {
      width: 25em;
      height: 1px;
      background-color: #474747;
      margin: 1rem 0;
    }
    .distance-travel_time {
      display: flex;
      text-transform: uppercase;
      font-family: "Lora", serif;
      span {
        display: block;
        margin: 0.5rem 0;
        color: #999999;
        font-size: 0.85rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and(min-width:1250px) {
  #main {
    margin: 0 auto;
    max-width: 1250px;
  }
}

@media screen and(min-width:1025px) {
  #main {
    justify-content: space-around;
    .moon-destination-image {
      img {
        margin: 5em 0 0 3em;
      }
    }
    .select-planet {
      .avg-distance {
        margin-right: 5rem;
      }
    }
  }
}
@media screen and(max-width:1024px) {
  #main {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    .moon-destination-image {
      img {
        margin: 3rem 0;
        width: 50vw;
      }
    }
    .select-planet {
      text-align: center;
      margin-bottom: 5rem;

      .planet-link-content {
        margin-inline: 1rem;
      }

      .distance-travel_time {
        flex-direction: column;
        .avg-distance {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 591px) {
  .select-planet {
    .planet-links {
      margin-bottom: 2rem;
    }
    .planet-links {
      .planet-title-name {
        margin-bottom: 12rem;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  #main {
    .select-planet {
      .planet-links {
        font-size: 0.5vw;
      }
      .planet-description {
        width: 80%;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .planet-link-content {
    position: relative;
  }
  .planet-link-content:hover:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -1rem;
    background: $white;
    border-radius: 10px;
  }
}
