@import "./primary-navigation";
@import "./_reset";

// background image depeinding on width
@media screen and (min-width: 769px) {
  body {
    background-image: url("../home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 561px) and (max-width: 768px) {
  body {
    background-image: url("../home/background-home-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 560px) {
  body {
    background-image: url("../home/background-home-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
// end of background image depeinding on width

// desktop mode
@media screen and (min-width: 769px) {
  #main {
    // explore ball
    .explore {
      width: 10em;
      height: 10em;
      font-size: 2rem;
    }
  }
}
// end of desktop mode

// main flex-direction mode
@media screen and(max-width:1024px) {
  #main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    .explore {
      width: 10em;
      height: 10em;
      margin-bottom: 5rem;
      font-size: 2em;
    }
  }
}
// end main flex-direction mode

// main
#main {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;

  // main article contain
  .main-article {
    max-width: 31em;

    // so, you want to travel
    .header-4 {
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ccc;
    }

    // space header
    .header-1 {
      letter-spacing: 3px;
      margin: 1.7rem 0 3rem;
      font-family: "Lora", serif;
    }

    // text desc paragraph
    .paragraph-main {
      line-height: 2;
      color: #ccc;
    }
  }

  // explore ball
  .explore {
    background: $white;
    border-radius: 100%;
    margin-top: 8rem;
    font-family: "Lora", serif;
    color: #000;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
// end main

// main texts font mobile & tablet mode
@media screen and (max-width: 590px) {
  .header-4 {
    font-size: 4vw;
  }
  .header-1 {
    font-size: 25vw;
  }
  .paragraph-main {
    font-size: 3vw;
  }
  .explore {
    width: 2vw;
    height: 2vw;
  }
}

// main texts font desktop mode
@media screen and (min-width: 591px) {
  .header-4 {
    font-size: 2rem;
  }
  .header-1 {
    font-size: 10rem;
  }
  .paragraph-main {
    font-size: 1.125rem;
  }
}
